/*
Colors used

Text Color (Black): #000;
Primary Color (Blue): #0a3fff;
Secondary Color (Purple): #6601ff;
Primary Visited Color (Dark Blue): #0428a8;
Secondary Button Hover (Pale Blue): #e3f3ff;
*/
* {
  box-sizing: border-box;
}

:root {
  /* Website colors */
  --primary-color: #0a3fff;
  --secondary-color: #6601ff;
  --primary-visited: #0428a8;
  --secondary-hover: #e3f3ff;
  --white: #fff;
  --text: #000;
  --grid-background: #f3f6fd;

  /* Animation colors */
  --start-color: #edc655;
  --medium-color: #fcffad;
  --end-color: #f76414;

  /* Font sizes */
  --h1-size: 64px;
  --h2-size: 48px;
  --h3-size: 36px;
  --h4-size: 24px;
  --h5-size: 18px;
  --p-size: 16px;

  /* Font weights */
  --regular: 400;
  --bold: 700;

  /* Margins */
  --margin-none: 0;
  --margin-extra-small: 5px;
  --margin-medium: 15px;
  --margin-small: 10px;
  --margin-large: 20px;
}

body {
  font-family: "Albert Sans", sans-serif;
  font-weight: var(--regular);
  background-color: var(--white);
  color: var(--text);
}

h1 {
  font-size: var(--h1-size);
  line-height: 1.6;
  font-weight: var(--bold);
  text-decoration: none;
  margin-top: var(--margin-small);
  margin-bottom: var(--margin-small);
}

h2 {
  font-size: var(--h2-size);
  line-height: 1.6;
  font-weight: var(--bold);
  text-decoration: none;
  margin-top: var(--margin-small);
  margin-bottom: var(--margin-small);
}

h3 {
  font-size: var(--h3-size);
  line-height: 1.6;
  font-weight: var(--bold);
  text-decoration: none;
  margin-top: var(--margin-small);
  margin-bottom: var(--margin-small);
}

h4 {
  font-size: var(--h4-size);
  line-height: 1.6;
  font-weight: var(--bold);
  text-decoration: none;
  margin-top: var(--margin-small);
  margin-bottom: var(--margin-small);
}

h5 {
  font-size: var(--h5-size);
  line-height: 1.6;
  font-weight: var(--bold);
  text-decoration: none;
  margin-top: var(--margin-small);
  margin-bottom: var(--margin-small);
}

p {
  font-size: var(--p-size);
  line-height: 1.6;
  font-weight: var(--regular);
  text-decoration: none;
  margin-top: var(--margin-small);
  margin-bottom: var(--margin-small);
}

a {
  color: var(--primary-color);
  font-weight: var(--bold);
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
}

a:visited {
  color: var(--primary-visited);
  font-weight: var(--bold);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--primary-visited);
  text-decoration: none;
  outline: 2px solid var(--secondary-color);
  transform: scale(1.1);
}

a:active {
  color: var(--secondary-color);
}

button,
.button {
  background-color: var(--primary-color);
  color: var(--white);
  font-family: inherit;
  font-size: var(--p-size);
  font-weight: var(--bold);
  text-align: center;
  padding: 10px 20px;
  border: 2px solid var(--primary-color);
  border-radius: 3px;
  margin-top: var(--margin-extra-small);
  margin-bottom: var(--margin-extra-small);
  transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: var(--primary-visited);
  color: var(--white);
  border: 2px solid var(--secondary-color);
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.1);
}

button:active,
.button:active {
  background-color: var(--secondary-color);
}

.button__secondary {
  background-color: var(--white);
  color: var(--text);
  font-family: inherit;
  font-size: var(--p-size);
  font-weight: var(--bold);
  text-align: center;
  padding: 10px 20px;
  border: 2px solid var(--primary-color);
  border-radius: 3px;
  transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
}

.button__secondary:hover,
.button__secondary:focus {
  background-color: var(--secondary-hover);
  border: 2px solid var(--secondary-color);
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.1);
}

.button__secondary:active {
  background-color: var(--secondary-hover);
  border: 2px solid var(--secondary-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: var(--margin-none);
  padding: 0;
  display: flex;
}

nav li {
  margin-left: var(--margin-medium);
}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

footer img {
  margin: var(--margin-extra-small);
}

.logos {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

main {
  margin-left: 40px;
  margin-right: 40px;
}

@media all and (max-width: 500px) {
  main {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.grid__item {
  background-color: var(--grid-background);
  padding: 20px 20px 25px;
  text-align: left;
  transition: transform 0.02s ease;
}

.grid__item:hover {
  transform: scale(1.01);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
}

.grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}

.advanced-python {
    grid-column: span 2;
}

.profile {
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: var(--margin-extra-small) auto;
  padding: 10px;
}

.profile__portrait {
  width: 150px;
  border-radius: 50%;
  margin-right: var(--margin-large);
}

.profile__text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@keyframes color-change {
  0% {
    fill: var(--start-color);
  }

  50% {
    fill: var(--medium-color);
  }

  100% {
    fill: var(--end-color);
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation-duration: 34s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@media all and (max-width: 750px) {
  h1 {
    font-size: var(--h3-size);
  }

  h3 {
    font-size: var(--h4-size);
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .advanced-python {
        grid-column: span 1;
    }

  .grid__item:last-child {
  grid-column: auto;
  grid-row: auto;
  }
}

@media all and (max-width: 500px) {
  h1 {
    font-size: var(--h4-size);
  }

  h3 {
    font-size: var(--h5-size);
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .advanced-python {
        grid-column: span 1;
    }

  .grid__item:last-child {
  grid-column: auto;
  grid-row: auto;
  }

  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile__portrait {
    margin-right: var(--margin-none);
    margin-bottom: var(--margin-large);
  }
}
